node_modules/
.cache/
dist/
docs/
dev/
ecosystems/
plugins/
modules/
packages/ui-default/public/
packages/ui-default/misc/.iconfont/
packages/ui-default/static/
packages/ui-default/templates/partials/problem_default.md
packages/ui-next/public/
packages/hydrojudge/vendor/
install/helm-single/templates/
**/*.html
**/*.styl
**/*.svg
**/*.patch
